* {
    box-sizing: border-box;
  }
  
  body {
    font-family:Arial, Helvetica, sans-serif;
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: #fff;
  }
  
  header {
    padding: 20px;
    text-align: left;
    background: #444;
 }

  img {
    width: 200px
}

  ul {
    position: sticky;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00d1cd;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 255, 255);
    color: #00d1cd;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }
  
    section {
   box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 0px;
    text-align: center;
    background: #444;
    color: #fff;
  }
 
  